.faq-section {
  padding-bottom: 75px;

  @include media(desktop) {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 122px;
  }
}

.faq-title-wrapper {
  right: 0;
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
    gap: 16px;
  }
}

.faq-list-item {
  box-shadow: 0 4px 10px 0 rgba(107, 107, 107, 0.25);
  background: #fff;
  border-radius: 36px;
  padding: 16px;
  max-width: 336px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 728px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.faq-icon {
  stroke: #111;

  @include media(desktop) {
    width: 50px;
    height: 50px;
  }
}

.faq-btn-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  max-width: 233px;
  text-align: left;

  @include media(desktop) {
    font-size: 20px;
    max-width: max-content;
  }
}

.faq-bottom-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 20px;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
    max-height: 100px;
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-big-blue-cube-img {
  display: none;

  @include media(desktop) {
    display: flex;
    z-index: -1;
    position: absolute;
    bottom: -100px;
    left: 0;
  }
}

.faq-medium-blue-cube-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    top: -75px;
    right: 0;
  }
}
