.footer {
  box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.15);
  background: #0c2f54;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-nav {
  text-align: center;
  margin-bottom: 24px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 19px;
  }
}

.footer-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  transition: color 0.3s ease-in-out;

  &:hover,
  &:focus {
  }

  @include media(desktop) {
    font-size: 20px;
  }
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  text-align: center;

  @include media(desktop) {
    font-size: 20px;
  }
}
