.context-menu {
  display: none;
  padding-top: 25px;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 138px;
}

.context-logo {
}

.close-btn {
  display: none;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  z-index: 1;

  @include media(desktop) {
    display: none;
  }
}

.close-icon {
  stroke: #111;
}

.context-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.context-list-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease-in-out;

  &:active {
    font-weight: 700;
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
