.play-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 120px;
  }
}

.play-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    gap: 36px;
  }
}

.play-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    gap: 36px;
    flex-direction: row;
    justify-content: start;
  }
}

.play-bottom-list {
  @include media(desktop) {
    justify-content: end;
  }
}

.play-list-item {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 24px;
}

.play-item-number {
  background: #fff;
  border-radius: 30px;
  display: flex;
  min-width: 54px;
  height: 54px;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  color: #0c2f54;
}

.play-item-text-wrapper {
  max-width: 258px;

  @include media(desktop) {
    width: 344px;
    max-width: 344px;
  }
}

.play-item-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #0c2f54;
  margin-bottom: 14px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.play-item-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0c2f54;

  @include media(desktop) {
    font-size: 20px;
  }
}
