.reviews-section {
  padding-bottom: 173px;

  @include media(desktop) {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 120px;
  }
}

.reviews-container {
  padding: 0;

  @include media(desktop) {
    padding: 0 180px;
  }
}

.reviews-title-wrapper {
  position: relative;
  left: 50px;
}

.reviews-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: start;
    justify-content: center;
  }
}

.reviews-bg-img {
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.reviews-box-wrapper {
  position: relative;
  max-width: 336px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 77px;
    max-width: 552px;
  }
}

.reviews-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-list-item {
  box-shadow: 0 4px 10px 0 rgba(107, 107, 107, 0.25);
  background: #fff;
  display: none;
  border-radius: 36px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;
  cursor: pointer;
}

.reviews-list-item.active {
  display: flex;
}

.reviews-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #222;
  line-height: 1.5;
  margin-bottom: 8px;
}

.reviews-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #222;
  line-height: 1.5;

  @include media(desktop) {
    font-size: 20px;
  }
}

.reviews-box-1 {
  position: absolute;
  top: 34px;
  left: 8px;
  display: flex;
  z-index: -1;
  border-radius: 36px;
  padding: 16px;
  width: 320px;
  height: 130px;
  box-shadow: 0 4px 10px 0 rgba(107, 107, 107, 0.25);
  background: rgba(255, 255, 255, 0.8);

  @include media(desktop) {
    top: 102px;
    left: 13px;
    width: 526px;
    height: 130px;
  }
}

.reviews-box-2 {
  position: absolute;
  top: 59px;
  left: 14.5px;
  display: flex;
  z-index: -2;
  border-radius: 36px;
  padding: 16px;
  width: 306px;
  height: 130px;
  box-shadow: 0 4px 10px 0 rgba(107, 107, 107, 0.25);
  background: rgba(255, 255, 255, 0.7);

  @include media(desktop) {
    top: 127px;
    left: 24px;
    width: 504px;
    height: 130px;
  }
}

.reviews-box-3 {
  position: absolute;
  top: 85px;
  left: 22px;
  display: flex;
  z-index: -3;
  border-radius: 36px;
  padding: 16px;
  width: 292px;
  height: 130px;
  box-shadow: 0 4px 10px 0 rgba(107, 107, 107, 0.25);
  background: rgba(255, 255, 255, 0.6);

  @include media(desktop) {
    top: 152px;
    left: 36px;
    width: 480px;
    height: 130px;
  }
}

.reviews-box-4 {
  position: absolute;
  top: 105px;
  left: 31px;
  display: flex;
  z-index: -4;
  border-radius: 36px;
  padding: 16px;
  width: 273px;
  height: 130px;
  box-shadow: 0 4px 10px 0 rgba(107, 107, 107, 0.25);
  background: rgba(255, 255, 255, 0.5);

  @include media(desktop) {
    top: 177px;
    left: 51px;
    width: 450px;
    height: 130px;
  }
}

.reviews-blue-cube-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    top: -54px;
    left: 0;
  }
}
