<section class="section advantages-section" id="advantages">
  <div class="advantages-section-wrapper">
    <div class="container advantages-container">
      <h2 class="section-title advantages-title">Advantages</h2>
      <ul class="advantages-list-mob">
        <li class="advantages-slide">
          <svg class="advantages-item-icon" width="50" height="50">
            <use href="./img/sprite.svg#icon-dice"></use>
          </svg>
          <h3 class="advantages-item-title">Award-Winning Board Games</h3>
          <p class="advantages-item-text">
            Play digital versions of popular Oink titles
          </p>
        </li>
        <li class="advantages-slide">
          <svg class="advantages-item-icon" width="63" height="50">
            <use href="./img/sprite.svg#icon-users"></use>
          </svg>
          <h3 class="advantages-item-title">Multiplayer Mayhem</h3>
          <p class="advantages-item-text">
            Challenge friends or join global matches
          </p>
        </li>
        <li class="advantages-slide">
          <svg class="advantages-item-icon" width="50" height="50">
            <use href="./img/sprite.svg#icon-brain"></use>
          </svg>
          <h3 class="advantages-item-title">Strategic Fun</h3>
          <p class="advantages-item-text">
            Easy to pick up, tough to master gameplay
          </p>
        </li>
        <li class="advantages-slide">
          <svg class="advantages-item-icon" width="50" height="50">
            <use href="./img/sprite.svg#icon-clock"></use>
          </svg>
          <h3 class="advantages-item-title">Quick Rounds</h3>
          <p class="advantages-item-text">
            Perfect for short breaks or all-night sessions
          </p>
        </li>
        <li class="advantages-slide">
          <svg class="advantages-item-icon" width="50" height="50">
            <use href="./img/sprite.svg#icon-rocket"></use>
          </svg>
          <h3 class="advantages-item-title">Constant Updates</h3>
          <p class="advantages-item-text">
            New games and features added regularly
          </p>
        </li>
      </ul>
      <div class="advantages-swiper-container">
        <ul class="swiper-wrapper advantages-swiper-wrapper">
          <li class="swiper-slide advantages-slide">
            <svg class="advantages-item-icon" width="50" height="50">
              <use href="./img/sprite.svg#icon-dice"></use>
            </svg>
            <h3 class="advantages-item-title">Award-Winning Board Games</h3>
            <p class="advantages-item-text">
              Play digital versions of popular Oink titles
            </p>
          </li>
          <li class="swiper-slide advantages-slide">
            <svg class="advantages-item-icon" width="63" height="50">
              <use href="./img/sprite.svg#icon-users"></use>
            </svg>
            <h3 class="advantages-item-title">Multiplayer Mayhem</h3>
            <p class="advantages-item-text">
              Challenge friends or join global matches
            </p>
          </li>
          <li class="swiper-slide advantages-slide">
            <svg class="advantages-item-icon" width="50" height="50">
              <use href="./img/sprite.svg#icon-brain"></use>
            </svg>
            <h3 class="advantages-item-title">Strategic Fun</h3>
            <p class="advantages-item-text">
              Easy to pick up, tough to master gameplay
            </p>
          </li>
          <li class="swiper-slide advantages-slide">
            <svg class="advantages-item-icon" width="50" height="50">
              <use href="./img/sprite.svg#icon-clock"></use>
            </svg>
            <h3 class="advantages-item-title">Quick Rounds</h3>
            <p class="advantages-item-text">
              Perfect for short breaks or all-night sessions
            </p>
          </li>
          <li class="swiper-slide advantages-slide">
            <svg class="advantages-item-icon" width="50" height="50">
              <use href="./img/sprite.svg#icon-rocket"></use>
            </svg>
            <h3 class="advantages-item-title">Constant Updates</h3>
            <p class="advantages-item-text">
              New games and features added regularly
            </p>
          </li>
        </ul>
      </div>
      <button
        class="arrow-btn left-arrow"
        id="advantagesLeftArrow"
        aria-label="Previous slide"
      >
        <svg class="arrow-icon" width="54" height="54">
          <use href="./img/sprite.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button
        class="arrow-btn right-arrow"
        id="advantagesRightArrow"
        aria-label="Next slide"
      >
        <svg class="arrow-icon" width="54" height="54">
          <use href="./img/sprite.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
