<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <img
      class="title-img"
      src="./img/faq/faq-title.png"
      alt="Title"
      width="154"
      height="68"
      loading="lazy"
    />
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >How many games are included in Playhop?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          There are over 50+ mini-games across different genres – and new ones
          are added regularly!
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Can I play Playhop offline?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes! Many games are available offline, perfect for on-the-go
          entertainment.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is there multiplayer?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Absolutely! You can play online with friends or even in local
          multiplayer modes.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is Playhop free?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          The app is free to download and play, with optional in-app purchases.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Are there ads in the game?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes, there are some ads, but you can remove them via purchase for an
          ad-free experience.
        </p>
      </li>
    </ul>
  </div>
  <img
    class="faq-big-blue-cube-img"
    src="./img/faq/faq-big-blue-cube.png"
    alt=""
    loading="lazy"
  />
  <img
    class="faq-medium-blue-cube-img"
    src="./img/faq/faq-medium-blue-cube.png"
    alt=""
    loading="lazy"
  />
</section>
