<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <div class="faq-content-wrapper">
      <div class="faq-img-wrapper">
        <h3 class="faq-subtitle">Got Questions? We’ve Got Game!</h3>
        <p class="faq-text">
          Explore the ins and outs of Oink Games — answers to your most curious
          thoughts await.
        </p>
        <img
          class="faq-img"
          src="./img/faq/faq-img.png"
          alt="Screenshot of the game"
          width="345"
          height="345"
          loading="lazy"
        />
      </div>
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >What kind of games are available in Let’s Play! Oink Games?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            You’ll find digital versions of Oink’s award-winning board games —
            perfect for strategic thinkers and social players alike.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Can I play solo or is it multiplayer only?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Most games are multiplayer, but some offer AI or pass-and-play modes
            for solo fun.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is it kid-friendly?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes! Oink Games are designed for all ages with intuitive rules and
            charming design.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Do I need to know the board games beforehand?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Nope! Every game includes a short tutorial so you can jump right in.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is there in-app purchase content?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes, some games or features may require purchase, but there are also
            free options to enjoy.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
