<section class="section features-section" id="features">
  <div class="container features-container">
    <img
      class="title-img"
      src="./img/features/features-title.png"
      alt="Title"
      width="293"
      height="132"
      loading="lazy"
    />
    <div class="features-content-wrapper">
      <ul class="features-list">
        <li class="features-list-item">
          <h3 class="features-item-title">50+ Mini Games</h3>
          <p class="features-item-text">
            Endless variety across genres – all in one app
          </p>
        </li>
        <li class="features-list-item">
          <h3 class="features-item-title">Offline & Online</h3>
          <p class="features-item-text">
            Play solo offline or battle friends online
          </p>
        </li>
        <li class="features-list-item">
          <h3 class="features-item-title">Easy to Learn</h3>
          <p class="features-item-text">
            Quick tutorials so anyone can jump in fast
          </p>
        </li>
        <li class="features-list-item">
          <h3 class="features-item-title">Daily Challenges</h3>
          <p class="features-item-text">
            Stay hooked with fresh missions and rewards
          </p>
        </li>
        <li class="features-list-item">
          <h3 class="features-item-title">Family-Friendly</h3>
          <p class="features-item-text">Safe and fun for all ages!</p>
        </li>
      </ul>
    </div>
  </div>
  <img
    class="features-green-cube-img"
    src="./img/features/features-green-cube.png"
    alt=""
    loading="lazy"
  />
</section>
