<section class="section gallery-section" id="gallery">
  <div class="container gallery-container">
    <h2 class="section-title gallery-title">Gallery</h2>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img1-desk.png"
            media="(min-width: 1440px)"
            width="536"
            height="248"
          />
          <source
            srcset="./img/gallery/gallery-img1-mob.png"
            width="336"
            height="154"
          />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img1-mob.png"
            alt="Screenshot of the game"
            width="336"
            height="154"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img2-desk.png"
            media="(min-width: 1440px)"
            width="536"
            height="248"
          />
          <source
            srcset="./img/gallery/gallery-img2-mob.png"
            width="336"
            height="154"
          />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img2-mob.png"
            alt="Screenshot of the game"
            width="336"
            height="154"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img3-desk.png"
            media="(min-width: 1440px)"
            width="536"
            height="248"
          />
          <source
            srcset="./img/gallery/gallery-img3-mob.png"
            width="336"
            height="154"
          />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img3-mob.png"
            alt="Screenshot of the game"
            width="336"
            height="154"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img4-desk.png"
            media="(min-width: 1440px)"
            width="536"
            height="248"
          />
          <source
            srcset="./img/gallery/gallery-img4-mob.png"
            width="336"
            height="154"
          />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img4-mob.png"
            alt="Screenshot of the game"
            width="336"
            height="154"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
