<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a href="./"
        ><img
          class="header-logo"
          src="./img/header/header-logo.png"
          alt="Logo"
          width="50"
          height="50"
      /></a>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#advantages">Advantages</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#reviews">User Reviews</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#gallery">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#play">How to Play</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#faq">FAQ</a>
        </li>
      </ul>
      <a
        class="header-google-btn"
        href="./index.html#faq"
        rel="noopener noreferrer"
        title="Download the game Oink Games on Google Play"
        aria-label="Download the game Oink Games on Google Play"
      >
        <img
          class="header-google-play-img"
          src="./img/hero/hero-google-play-desk.png"
          alt="Google Play"
          width="270"
          height="60"
        />
      </a>
      <button class="nav-btn" type="button" aria-label="Open mobile menu">
        <svg class="menu-icon" width="28" height="28">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
