<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <img
        class="hero-logo-img"
        src="./img/hero/hero-logo.png"
        alt="Logo"
        width="150"
        height="150"
      />
      <h1 class="hero-title">Play Smart, Laugh Loud – Let’s Oink!</h1>
      <p class="hero-text">
        Dive into the quirky world of Oink Games. Strategy, surprise &
        multiplayer madness await!
      </p>
      <a
        class="hero-google-btn"
        href="#faq"
        rel="noopener noreferrer"
        title="Download the game Oink Games on Google Play"
        aria-label="Download the game Oink Games on Google Play"
      >
        <picture>
          <source
            srcset="./img/hero/hero-google-play-desk.png"
            media="(min-width: 1440px)"
            width="270"
            height="60"
          />
          <source
            srcset="./img/hero/hero-google-play-mob.png"
            width="208"
            height="54"
          />
          <img
            class="hero-google-play-img"
            src="./img/hero/hero-google-play-mob.png"
            alt="Google Play"
            width="208"
            height="54"
          />
        </picture>
      </a>
      <picture>
        <source
          srcset="./img/hero/hero-img-desk.png"
          media="(min-width: 1440px)"
          width="690"
          height="305"
        />
        <source srcset="./img/hero/hero-img-mob.png" width="330" height="175" />
        <img
          class="hero-img"
          src="./img/hero/hero-img-mob.png"
          alt="Screenshot of the game"
          width="330"
          height="175"
        />
      </picture>
    </div>
  </div>
</section>
