<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <picture>
        <source
          srcset="./img/hero/hero-title-desk.png"
          media="(min-width: 1440px)"
          width="636"
          height="225"
        />
        <source
          srcset="./img/hero/hero-title-mob.png"
          width="375"
          height="133"
        />
        <img
          class="hero-title-img"
          src="./img/hero/hero-title-mob.png"
          alt="Title"
          width="375"
          height="133"
        />
      </picture>
      <div class="hero-text-wrapper">
        <p class="hero-text">
          Arcade, puzzle, action & more – play anytime, anywhere, with or
          without internet
        </p>
        <a
          class="hero-google-btn"
          href="#faq"
          rel="noopener noreferrer"
          title="Download the game Playhop on Google Play"
          aria-label="Download the game Playhop on Google Play"
        >
          <picture>
            <source
              srcset="./img/hero/hero-google-play-desk.png"
              media="(min-width: 1440px)"
              width="270"
              height="60"
            />
            <source
              srcset="./img/hero/hero-google-play-mob.png"
              width="208"
              height="54"
            />
            <img
              class="hero-google-play-img"
              src="./img/hero/hero-google-play-mob.png"
              alt="Google Play"
              width="208"
              height="54"
            />
          </picture>
        </a>
      </div>
      <picture>
        <source
          srcset="./img/hero/hero-girl-desk.png"
          media="(min-width: 1440px)"
        />
        <source srcset="./img/hero/hero-girl-mob.png" />
        <img class="hero-img" src="./img/hero/hero-girl-mob.png" alt="Girl" />
      </picture>
      <img
        class="hero-blue-cube-img-mob"
        src="./img/hero/hero-blue-cube-mob.png"
        alt=""
      />
      <img
        class="hero-green-cube-img-mob"
        src="./img/hero/hero-green-cube-mob.png"
        alt=""
      />
      <img
        class="hero-big-blue-cube-img-desk"
        src="./img/hero/hero-big-blue-cube-desk.png"
        alt=""
      />
      <img
        class="hero-medium-blue-cube-img-desk"
        src="./img/hero/hero-medium-blue-cube-desk.png"
        alt=""
      />
      <img
        class="hero-small-blue-cube-img-desk"
        src="./img/hero/hero-small-blue-cube-desk.png"
        alt=""
      />
      <img
        class="hero-medium-green-cube-img-desk"
        src="./img/hero/hero-medium-green-cube-desk.png"
        alt=""
      />
      <img
        class="hero-small-green-cube-img-desk"
        src="./img/hero/hero-small-green-cube-desk.png"
        alt=""
      />
    </div>
  </div>
</section>
