<section class="section play-section" id="play">
  <div class="container play-container">
    <h2 class="section-title">How to Play</h2>
    <div class="play-content-wrapper">
      <ul class="play-list">
        <li class="play-list-item">
          <span class="play-item-number">1</span>
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Pick a Game</h3>
            <p class="play-item-text">
              Choose from a selection of Oink Games like Deep Sea Adventure or A
              Fake Artist Goes to New York.
            </p>
          </div>
        </li>
        <li class="play-list-item">
          <span class="play-item-number">2</span>
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Join or Create a Room</h3>
            <p class="play-item-text">
              Invite friends or join random players online
            </p>
          </div>
        </li>
      </ul>
      <ul class="play-list play-bottom-list">
        <li class="play-list-item">
          <span class="play-item-number">3</span>
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Play & Strategize</h3>
            <p class="play-item-text">
              Use logic, bluffing, or teamwork depending on the game rules!
            </p>
          </div>
        </li>
        <li class="play-list-item">
          <span class="play-item-number">4</span>
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Earn Points</h3>
            <p class="play-item-text">
              Win games and rise through the global leaderboard!
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
