<section class="section play-section" id="play">
  <div class="container play-container">
    <div class="section-title-wrapper play-title-wrapper">
      <h2 class="section-title">How to</h2>
      <h2 class="section-title secondary-title">Play</h2>
    </div>
    <div class="play-content-wrapper">
      <ul class="play-list">
        <li class="play-list-item">
          <span class="play-item-number">1</span>
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Download and Open the App</h3>
            <p class="play-item-text">
              Install Playhop and launch it to start exploring games.
            </p>
          </div>
        </li>
        <li class="play-list-item">
          <span class="play-item-number">2</span>
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Choose a Game Mode</h3>
            <p class="play-item-text">
              Pick single-player, local multiplayer, or go online to face
              others.
            </p>
          </div>
        </li>
        <li class="play-list-item">
          <span class="play-item-number">3</span>
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Select Your Game</h3>
            <p class="play-item-text">
              Browse through categories like puzzles, racing, sports, logic and
              more.
            </p>
          </div>
        </li>
        <li class="play-list-item">
          <span class="play-item-number">4</span>
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Play & Unlock</h3>
            <p class="play-item-text">
              Complete challenges, level up, and unlock new games and features!
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <img
    class="play-big-green-cube-img"
    src="./img/play/play-big-green-cube.png"
    alt=""
  />
  <img
    class="play-medium-green-cube-img"
    src="./img/play/play-medium-green-cube.png"
    alt=""
  />
</section>
