<section class="section reviews-section" id="reviews">
  <div class="container reviews-container">
    <img
      class="title-img"
      src="./img/reviews/reviews-title.png"
      alt="Title"
      width="303"
      height="128"
      loading="lazy"
    />
    <div class="reviews-content-wrapper">
      <picture>
        <source
          srcset="./img/reviews/reviews-bg-desk.png"
          media="(min-width: 1440px)"
          width="367"
          height="384"
        />
        <source
          srcset="./img/reviews/reviews-bg-mob.png"
          width="384"
          height="398"
        />
        <img
          class="reviews-bg-img"
          src="./img/reviews/reviews-bg-mob.png"
          alt="Screenshot of the game"
          width="384"
          height="398"
          loading="lazy"
        />
      </picture>
      <div class="reviews-box-wrapper">
        <ul class="reviews-list">
          <li class="reviews-list-item">
            <img
              class="reviews-avatar"
              src="./img/reviews/reviews-liam.png"
              alt="Avatar"
              width="67"
              height="67"
              loading="lazy"
            />
            <div class="reviews-text-wrapper">
              <p class="reviews-name">Liam P.</p>
              <p class="reviews-text">
                “Great variety of games in one app. Perfect for quick fun on the
                go!”
              </p>
            </div>
          </li>
          <li class="reviews-list-item">
            <img
              class="reviews-avatar"
              src="./img/reviews/reviews-emma.png"
              alt="Avatar"
              width="67"
              height="67"
              loading="lazy"
            />
            <div class="reviews-text-wrapper">
              <p class="reviews-name">Emma R.</p>
              <p class="reviews-text">
                “Love that I can play offline when traveling. Super handy and
                entertaining.”
              </p>
            </div>
          </li>
          <li class="reviews-list-item">
            <img
              class="reviews-avatar"
              src="./img/reviews/reviews-noah.png"
              alt="Avatar"
              width="67"
              height="67"
              loading="lazy"
            />
            <div class="reviews-text-wrapper">
              <p class="reviews-name">Noah S.</p>
              <p class="reviews-text">
                “Fun and simple games that don’t drain my battery. Highly
                recommended!”
              </p>
            </div>
          </li>
          <li class="reviews-list-item">
            <img
              class="reviews-avatar"
              src="./img/reviews/reviews-ava.png"
              alt="Avatar"
              width="67"
              height="67"
              loading="lazy"
            />
            <div class="reviews-text-wrapper">
              <p class="reviews-name">Ava M.</p>
              <p class="reviews-text">
                “My kids and I both enjoy this app. There’s something for
                everyone.”
              </p>
            </div>
          </li>
          <li class="reviews-list-item">
            <img
              class="reviews-avatar"
              src="./img/reviews/reviews-ethan.png"
              alt="Avatar"
              width="67"
              height="67"
              loading="lazy"
            />
            <div class="reviews-text-wrapper">
              <p class="reviews-name">Ethan T.</p>
              <p class="reviews-text">
                “Smooth experience, colorful visuals, and addictive gameplay!”
              </p>
            </div>
          </li>
        </ul>
        <div class="reviews-box-1"></div>
        <div class="reviews-box-2"></div>
        <div class="reviews-box-3"></div>
        <div class="reviews-box-4"></div>
      </div>
    </div>
  </div>
  <img
    class="reviews-blue-cube-img"
    src="./img/reviews/reviews-blue-cube.png"
    alt=""
    loading="lazy"
  />
</section>
